/* custom.css */
body {
    background-color: #ececec; /* 設置背景顏色 */
}

.navbar {
    background-color: #007bff !important; /* 覆蓋 Bootstrap 預設的 navbar 顏色 */
}

.custom-button {
    background-color: #28a745;
    color: white;
    border: none;
}

.custom-table {
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    background: #f3f1f1; /* 背景颜色 */
    color: rgb(2, 0, 0);
    overflow-y: auto; /* 确保在内容超出时能够滚动 */
    font-family: Arial, sans-serif;
    height: 100%;  /* 保证body高度为100% */
}

/* 创建雪花容器 */
.snow {
    position: fixed;  /* 使用fixed定位让雪花背景不干扰滚动 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* 使雪花不影响页面的其他交互 */
    z-index: 9999; /* 确保雪花在其他内容上面 */
}

/* 雪花元素 */
.snowflake {
    position: absolute;
    top: -10px; /* 雪花从页面顶部开始掉落 */
    color: white;
    font-size: 1.5rem; /* 雪花大小 */
    user-select: none; /* 防止选中雪花 */
    opacity: 0.4;
    animation: snow 10s linear infinite;
}

/* 下雪动画 */
@keyframes snow {
    0% {
        transform: translateY(-10px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* 抽獎動畫 字放大 */
#loading-animation {
    position: fixed;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 80px;
    writing-mode: vertical-lr;
}


/* 排版設定 */
.sys-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.sys-title::before {
    content: "🎄";
    margin-left: 10px;
}
.sys-title::after {
    content: "🎄";
    margin-right: 10px;
}

.tab-link {
    font-size: 20px;
    font-weight: bold;
}
.tab-link-setting::before {
    /* 齒輪圖示 */
    content: "⚙️";
    margin-left: 10px;
}
.tab-link-draw::before {
    /* 抽獎圖示 */
    content: "🎁";
    margin-left: 10px;
}

/* btn 下面留空間 */
.btn {
    margin-bottom: 10px;
}
.form-btn{
    margin-top: 10px;
}

.footer {
    /* 文字離上面間距 */
    padding-top: 5px;
    /* padding-bottom: 5px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1595c0;
    color: white;
    text-align: center;
}



/* -----------------lottery_setting.html----------------- */
.all_prizes {
    width: 60%;
}
.th-order {
    width: 12%;
}
.th-prize_name {
    width: 35%;
}
.th-quantity {
    width: 12%;
}
.th-control {
    width: 50%;
}
/* class: prize_setting 寬度佔一半 */
.prize_setting {
    width: 15%;
}
.add_participants_area {
    display: flex;
    flex-wrap: wrap; /* 如果空间不足时换行 */
    gap: 20px; /* 设置元素之间的间距 */
    width: 100%;
}

.add_participants_area .form-group {
    flex-grow: 1;
}

.table-container {
    flex-grow: 1;
    min-width: 300px; /* 确保表格不会过于窄 */
}

textarea {
    width: 15%; /* 使textarea宽度填满容器 */
}

.table-container .table {
    margin-top: 20px; /* 给表格增加一些上边距 */
}

.participants_table {
    width: 70%;
}

/* -----------------draw_lottery.html----------------- */
#title-prize_list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}
#title-prize_list::before {
    /* 獎杯圖示 */
    content: "🏆";
    margin-left: 10px;
}
#title-winner_list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}
#title-winner_list::before {
    /* 得獎者圖示 */
    content: "🎉";
    margin-left: 10px;
}
.prize_table {
    width: 30%;
}
.th-draw-prize_name {
    width: 50%;
}
.th-draw-quantity {
    width: 25%;
}
.th-draw-remaining {
    width: 25%;
}

.winner_table {
    width: 70%;
}
.th-winner-order {
    width: 10%;
}
.th-winner-prize_name {
    width: 50%;
}
.th-winner-name {
    width: 40%;
}
.alert-info {
    width: 50%;
}
.highlight {
    color: #eb0518;
    font-weight: bold;
}